@import url('https://fonts.cdnfonts.com/css/exo-2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .elemento-escondido {
        width: 100%;
        flex-direction: column;
    }
}

body {
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Exo 2';
    background-color: #040572;
    color: #ffffff;
    padding: 90px;
    text-align: left;

}

h1 {
    font-size: 400%;
}

ol {
    margin-top: 0%;
    /* Remove o espaçamento superior */
    margin-bottom: 0%;
    /* Remove o espaçamento inferior */

}


button {
    margin-top: -10%;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 0%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.perguntas {
    margin-top: 13%;
    list-style-type: none;
    text-align: left;
    font-size: 130%;
}


.l4j {
    margin-top: -100%;
    margin-left: 90%;
}

.rodape {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 1%;
    left: 0%;
    position: absolute;
    width: 100%;
}

.rodape p {
    color: #000000;
    text-align: center;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #0044ff;
    font-family: Arial, sans-serif;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.menu-texto {
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
}

.menu-texto:hover {
    color: #000000;
}

.opcoes {
    margin-top: 5%;
}

.opcoes li {
    font-size: 20px;
}


.rodape {
    margin-top: 10%;
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 1%;
    left: 0%;
    position: absolute;
    width: 100%;
}

.rodape p {
    font-size: 100%;
    color: #000000;
    text-align: center;
}