@import url('https://fonts.cdnfonts.com/css/exo-2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .elemento-escondido {
        width: 100%;
        flex-direction: column;
    }
}

body {
    font-family: 'Exo 2';
    background-color: #040572;
    color: #333;
    padding: 90px;
    text-align: center;

    font-size: 14px;
}

h1 {
    font-size: 300%;
    color: #ffffff;
}

h2 {
    font-size: 200%;
    color: #ffffff;
}

p {
    font-size: 150%;
    color: #ffffff;
}

.rodape {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1%;
    left: 0%;
    position: absolute;
    width: 100%;
}

.rodape p {
    font-size: 100%;
    color: #000000;
    text-align: center;
}

.inicio p {
    /*Basico.html - tamanho do texto*/
    font-size: 150%;
    color: #ffffff;
}

.inicio h1,
h2 {
    /*Basico.html - tamanho do texto*/
    color: #ffffff;
}

.midia-social {
    float: left;
    display: flex;
    width: 25px;
    height: 0px;
    margin-top: 2%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #0044ff;
    font-family: Arial, sans-serif;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.menu-texto {
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
}

.menu-texto:hover {
    color: #000000;
}

.menu-cadastro {
    display: inline-block;
    padding: 20px 30px;
    background-color: #0030b4;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;

    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.menu-cadastro:hover {
    background-color: #000000;
}

/*Essa parte serve para criar essa caixa em volta do texto*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

.project {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 15, 173);
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

/*Acaba aqui*/


/*Aréa dos empregos disponíveis (work.html)*/