* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 15, 173);
}

@media screen and (max-width: 768px) {
    .elemento-escondido {
        width: 100%;
        flex-direction: column;
    }
}

.perfot {
    position: fixed;
    margin-top: -2%;
}

.nome {
    position: fixed;
    margin-left: 8%;
    cursor: pointer;
}

.f {
    margin-left: -20%;
}

.salvar {
    margin-top: 16%;
    margin-left: 85%;
    padding: 12px 24px;
    background-color: #0044ff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.salvar:hover {
    background-color: #0033cc;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #0044ff;
    font-family: Arial, sans-serif;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.menu-texto {
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
}

.menu-texto:hover {
    color: #000000;
}

.menu-cadastro {
    display: inline-block;
    padding: 20px 30px;
    background-color: #0030b4;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;

    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.menu-cadastro:hover {
    background-color: #000000;
}

.form {
    margin-left: 10%;
}

.perfil {
    position: fixed;
    left: 2%;
    top: 45%;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    height: 65%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: -11%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categoria {
    position: fixed;
    display: flex;
    margin-top: 5%;
    position: absolute;
}

.categoria input {
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0030b4;
    width: 200px;
    margin-right: 5%;
}

.categoria select {
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0030b4;
    width: 200px;
    margin-right: 5%;
}

.imagemContainer img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#inputImagem {
    display: none;
    /* Esconde o campo de seleção de arquivo padrão */
}

#imagemLabel {
    margin-left: -3%;
    cursor: pointer;
    /* Define o cursor como ponteiro para indicar que é clicável */
}