* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .elemento-escondido {
        width: 100%;
        flex-direction: column;
    }
}

body {
    background-color: #040572;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #0044ff;
    font-family: Arial, sans-serif;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.menu-texto {
    margin-right: 40px;
    text-decoration: none;
    color: #ffffff;
}

.menu-texto:hover {
    color: #000000;
}

.menu-cadastro {
    display: inline-block;
    padding: 20px 30px;
    background-color: #0030b4;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;

    position: absolute;
    top: 20px;
    right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.menu-cadastro:hover {
    background-color: #000000;
}

footer {
    background-color: black;
    position: absolute;
    width: 100%;
    text-align: center;


}

footer p {
    color: white;
}

.inicio {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio p {
    font-size: 22px;
    color: #ffffff;
}

.inicio h1 {
    font-size: 36px;
    color: #ffffff;
}

.container {
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 15, 173);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.project {
    text-align: center;
}

.project h1 {
    font-size: 36px;
    color: #ffffff;
}

.project p {
    font-size: 22px;
    color: #ffffff;
}